<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.foliage.com/xenia/Xenia"
			class = "com.foliage.xenia.xenia.XeniaPackage"
			genModel = "model/generated/Xenia.genmodel" />
	</extension>
</plugin>
