body.xenia-body{
	background-color: #eee
}
.xenia-link-dropdown{
	position: fixed;
	bottom: 25px;
	right: 25px;
}
header.xenia-header>nav{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
    					0 3px 1px -2px rgba(0,0,0,0.12), 
    					0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.09), 
    			0 3px 1px -2px rgba(0, 0, 0, 0.07), 
    			0 1px 5px 0 rgba(0, 0, 0, 0);
    background-color: #fff;
}
header.xenia-header>nav ul a{
	color: #413c3c
}
img.xenia-logo{
	max-height: 40px;
	margin: 12px;
}
main.xenia-main{
	/*padding: 5px 20px;*/
}
main>div.xenia-content{
	padding: 25px;
	margin: 10px 0;
	background-color:  #fff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
    					0 3px 1px -2px rgba(0,0,0,0.12), 
    					0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.09), 
    			0 3px 1px -2px rgba(0, 0, 0, 0.07), 
    			0 1px 5px 0 rgba(0, 0, 0, 0);
}
.btn>i{
	color: inherit;
	opacity: .6;
}
.carousel div.xenia-slider{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.carousel ul.indicators>li.indicator-item{
	height: 12px;
	width: 12px;
}
.carousel ul.indicators>li.indicator-item.active{
	background-color: #f44336;
}
i.icon.sidenav-trigger{
	color: #363333; 
	margin-left: 10px; 
	cursor: pointer
}
span.badge{
	padding: 3px 6px;
	border-radius: 4px;
	margin-left: 0;
	float: none;
}
.breadcrumbs{
	padding: 10px 20px
}
.breadcrumbs>span>a{
	padding: 0 5px
}
.breadcrumbs>span>i{
	opacity: .75
}
.breadcrumbs a.dropdown-trigger{
	text-transform: none;
    line-height: inherit;
    height: auto;
    vertical-align: baseline;
}
.chart { height: 159px; width: 332px; margin: 5px; margin: 5px auto; border-radius: 3px; }
.node { color: #9CB5ED; border: 1px solid #f44336; border-radius: 3px; }
.node p { 
    line-height: 20px;
    height: 20px;
    padding: 3px;
    margin: 0;
    padding: 0px 8px;
    color: #f44336;
}
svg>path{
	stroke: #f44336
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.modal-content h4>i.icon{
	font-size: 80%;
    margin-right: 15px;
    vertical-align: top;
    color: #ee6e73
}
.sidenav>li>a{
	text-transform: capitalize;
}
.sidenav-footer{
	position: absolute;
	bottom: 70px;
	width: 100%;
	padding: 20px 0;
    background-color: #eef8fe;
    border-top: 1px #dee8ee solid;
}
.sidenav-footer>div{
	text-align: center;
}
.sidenav-footer>div a{
	padding: 1px 12px;
	transition: 250ms;
	display: inline-block;
}
.sidenav-footer>div a:hover{
	transform: scale(1.3);
}